html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1.6875;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.none {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

button, input[type="submit"] {
  cursor: pointer;
  background: none;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list li {
  margin-right: 42px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a:hover {
  color: #58BEBF;
}
.navigation-list a.active {
  color: #58BEBF;
  font-weight: 700;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  width: 465px;
}

.header__title {
  position: relative;
  z-index: 9;
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.46;
  margin-right: -160px;
}

.header__text p {
  line-height: 1.6875;
  margin-bottom: 1em;
}

.header__form {
  margin-top: 42px;
}

.header__img img {
  border-radius: 40px 40px 40px 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}
.form--active {
  -webkit-box-shadow: 0px 17px 42px rgba(40, 91, 108, 0.27);
          box-shadow: 0px 17px 42px rgba(40, 91, 108, 0.27);
}

.from__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  height: 100%;
}
.from__label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("./../img/icons/mail.svg");
  background-size: initial;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 9px;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}
.form__input:-ms-input-placeholder {
  color: #bbb;
}
.form__input::-ms-input-placeholder {
  color: #bbb;
}
.form__input::placeholder {
  color: #bbb;
}

.btn {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #58BEBF;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
}
.btn:hover {
  background-color: #19c3c6;
}
.btn--white {
  background-color: #fff;
  color: #323232;
}
.btn--white:hover {
  color: #fff;
  background-color: #323232;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.btn--play {
  padding-left: 50px;
  position: relative;
}
.btn--play::before {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("./../img/icons/play.svg");
  background-size: initial;
  background-repeat: no-repeat;
}

.clients {
  padding-top: 100px;
  padding-bottom: 45px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects {
  padding-top: 45px;
  padding-bottom: 80px;
}

.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}
@media (max-width: 1495px) {
  .objects__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.objects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.objects__text {
  width: 374px;
  padding-right: 150px;
  padding-left: 190px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.objects__text p + p {
  margin-top: 20px;
}

.objects__title {
  margin-bottom: 20px;
}

.objects__btn {
  margin-top: 40px;
}

.title {
  font-size: 42px;
  line-height: 1.476;
  font-weight: 700;
}

.img-card {
  position: relative;
  width: 385px;
}
.img-card + .img-card {
  margin-left: 32px;
}

.img-card__img {
  border-radius: 20px 20px 0 20px;
}
.img-card--rounder .img-card__img {
  border-radius: 20px;
}

.img-card__info {
  position: absolute;
  bottom: 77px;
  right: -46px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__title {
  font-weight: 700;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 20px;
  background-color: #F78434;
  color: #fff;
}

.cta__img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: white;
  border-radius: 0 20px 0 0;
}

.cta__text {
  width: 555px;
  padding-left: 95px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./../img/cta/oval-bottom-left.svg") bottom left -186px no-repeat, url("./../img/cta/oval-top-right.svg") right top no-repeat;
}
.cta__text p {
  width: 320px;
}

.cta__title {
  margin-bottom: 15px;
}

.cta__btn-row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.serve {
  padding-top: 0px;
  padding-bottom: 120px;
  position: relative;
}
.serve::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f6f5fa;
  position: absolute;
  top: -50%;
  bottom: 50%;
  left: 0;
  z-index: -1;
}

.serve__heading {
  margin-bottom: 45px;
  text-align: center;
}
.serve__heading .title {
  padding: 10px;
}

.serve__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.card-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 88px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.card-customer .card-customar__icon {
  margin-bottom: 15px;
  fill: #58BEBF;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-customer:hover {
  background-color: #58BEBF;
  color: #fff;
}
.card-customer:hover .card-customar__icon {
  fill: #fff;
}
.card-customer:hover .btn {
  background-color: #fff;
  color: #F78434;
}

.card-customer-text {
  margin-bottom: 25px;
}

.benefits {
  padding-top: 0;
  padding-bottom: 110px;
}

.benefits__header {
  padding-bottom: 58px;
  text-align: center;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.banefit-item {
  text-align: center;
}
.banefit-item__img {
  margin-bottom: 15px;
  display: inline-block;
}
.banefit-item__img circle {
  fill: rgba(88, 190, 191, 0.2);
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.banefit-item__img path {
  fill: #F78434;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.banefit-item__img ellipse {
  fill: #F78434;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.banefit-item:hover .banefit-item__img circle {
  fill: #58BEBF;
}
.banefit-item:hover .banefit-item__img path {
  fill: #fff;
}
.banefit-item:hover .banefit-item__img ellipse {
  fill: #fff;
}

.banefit-item__title {
  margin-bottom: 2px;
  font-size: 28px;
}

.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials__header {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__title {
  max-width: 452px;
}

.testimonials__desc {
  max-width: 400px;
}

.testimonials__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}
.testimonials__row::after {
  content: "";
  position: absolute;
  right: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  background-image: url("./../img/testimonials/design-element.svg");
  background-repeat: no-repeat;
}

.card-testimonial {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  max-width: 350px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}
.card-testimonial:hover {
  -webkit-box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
}

.card-testimonial__img-wrapper {
  position: relative;
}

.card-testimonial__btn-play {
  position: absolute;
  right: 20px;
  bottom: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__btn-play {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.card-testimonial__btn-svg circle {
  fill: #fff;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg path {
  fill: #58BEBF;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.card-testimonial__btn-svg:hover circle {
  fill: #F78434;
}
.card-testimonial__btn-svg:hover path {
  fill: #fff;
}

.card-testimonial__body {
  padding: 30px;
}

.card-testimonial__text {
  margin-bottom: 23px;
}

.card-testimonial__name {
  font-size: 18px;
  font-weight: 700;
}

.card-testimonial__city {
  color: #F78434;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.card-testimonial:hover .card-testimonial__city {
  color: #58BEBF;
}

.contacts {
  position: relative;
  padding-top: 200px;
  padding-bottom: 55px;
  background-image: url("./../img/contacts/bg.svg");
  background-size: cover;
  color: #fff;
}
.contacts::before {
  position: absolute;
  bottom: -1;
  left: 50%;
  content: "";
  display: block;
  width: 743px;
  height: 372px;
  background-image: url("./../img/contacts/oval.svg");
  background-size: initial;
}
.contacts::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 478px;
  height: 547px;
  margin-left: 79px;
  background-image: url("./../img/contacts/girl.png");
  background-size: initial;
}

.contacts__info {
  max-width: 360px;
}

.contact__title {
  margin-bottom: 15px;
}

.contact__text {
  margin-bottom: 30px;
  max-width: 342px;
}

.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 15px;
  margin-left: -5px;
}

.footer__info-text {
  margin-bottom: 40px;
}

.footer__soocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}
.footer__soocials a:hover {
  opacity: 0.8;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 85px;
          column-gap: 85px;
}

.footer__nav-block {
  font-size: 14px;
}
.footer__nav-block li {
  margin-bottom: 13px;
}
.footer__nav-block a:hover {
  color: #58BEBF;
}

.footer__nav-block-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 18px;
}

/*# sourceMappingURL=main.css.map */