.benefits {
    padding-top: 0;
    padding-bottom: 110px;

}
.benefits__header {
    padding-bottom: 58px;
    text-align: center;
}
.benefits__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 35px;

}
