.objects {
    padding-top: 45px;
    padding-bottom: 80px;
}

.objects__row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    @media (max-width: 1495px) {
    justify-content: flex-end;

    }

}
.objects__img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.objects__text {
    // max-width: 693px;
    width: 374px;

    padding-right: 150px;
    padding-left: 190px;
    box-sizing: content-box;
    flex-shrink: 0;

    p + p {
        margin-top: 20px;
    }
}
 
.objects__title {
    margin-bottom: 20px;
}
.objects__btn {
    margin-top:40px ;
}